@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --light-orange-gradient: #f89820;
    --beetroot: #660b33;
    --light-beetroot: #9a0e0e;
    --light-green-gradient: #6bbe45;
    --box-shadow:  0 0 20px rgba(0, 0, 0, 0.1);

}

body{
    font-family: 'Nunito', sans-serif;
    background: url("media/veget\ background.webp");
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: var(--beetroot);
}

.navbar{
    background-color: var(--beetroot);
   
    
        position: sticky;
        top: 0;
        z-index: 2;
     
}

.logo{
  width: 6em;
  background-color:#ffffff;
}

/* Tachyons CSS classes and additional styles */
.slider-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--light-orange-gradient);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  padding: 2rem;
}


/* The images of the slider and about section smaller on desktop */
@media only screen and (min-width: 1024px) {
  .slide img {
    width: 20%;
  }



    .about img{
        width: 50%;
    }
  }
  

 .product{
    overflow: hidden;
    position: relative;
    background: var(--light-green-gradient);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
 }

 .slideshow-btn{
    border-color: var(--beetroot);
    background-color: var(--beetroot);
 }

 .slideshow-btn:hover{
    background-color: var(--light-beetroot);
 }

 /* Refers to the effect of the order button (not in the slider 
 everywhere else) that when you hover it, a shopping cart appears */ 
  .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    
    width: 150px;
    overflow: hidden;
    background-color: var(--beetroot);
  }
  
  
  .effect.effect-1 {
    transition: all 0.2s linear 0s;
  }
  
  .effect.effect-1:before {
    content: "\f07a";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    transform: scale(0,1);
    transition: all 0.2s linear 0s;
  }
  
  .effect.effect-1:hover {
    text-indent: -9999px;
  }
  
  .effect.effect-1:hover:before {
    transform: scale(1,1);
    text-indent: 0;
  }

  .icon{
    width: 20px;
    padding: 0.5em;
  }
 
 .about-section{
    background: var(--light-orange-gradient);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
 
  box-shadow: var(--box-shadow);
 }

  .about-section img {
    max-width: 100%;
  }

  .about-section p{
    line-height: 2em;
  }
/* About section looking different on mobile */
  @media screen and (min-width: 768px) {
    .about-section {
      display: flex;
      align-items: center;
    }

    .about-section .text {
      flex: 1;
      padding: 0 2rem;
    }
  }

  .accordion__item input:not(:checked) ~ .accordion__content {
    display: none;
  }

  .accordion{
    overflow: hidden;
    position: relative;
    background: var(--light-green-gradient);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
 
  box-shadow: var(--box-shadow);  }

  @media screen and (max-width: 600px) {
    .gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .gallery img {
      margin: 10px 0;
    }
  }

  @media screen and (min-width: 601px) {
    .gallery {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .gallery img {
      margin: 10px;
      width: calc(33.33% - 20px); /* Distribute equally with margins */
      max-width: 100%;
    }
  }

  .gallery img{object-fit: cover;}

.contact p:hover{
    color: var(--beetroot);
}

  .social-icon:hover{
    transform: translateY(-5px);
  }

  footer a:hover{
    color: var(--beetroot);
  }

 


 .tally{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-orange-gradient);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
 
  box-shadow: var(--box-shadow);
  
 }
 
  
 @media screen and (max-width: 740px) {
  iframe {
    width: 100%;
  }}

  .carousel {
    margin-left: 15%;
    margin-right: 15%;
    padding: 1em;
}

ul.slides {
    display: block;
    position: relative;
    height: 30em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}



.slide-image img {
    width: auto;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}



input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

@media screen and (max-width: 740px) {
  .slide-image {
      height: auto;
  }
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px; /* Adjust this margin value */
}

@media screen and (max-width: 740px) {
  .carousel-dots .carousel-dot {
      margin: 0;
  }

 
}
